{% extends 'main.html' %}
{% block content %}

<section style="height: 100vh;" class="d-flex align-items-center justify-content-center">
        <div class="alert alert-success container " role="alert" style="height: 180px;">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
                so
                that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
           <a href="/logout"><button class="btn bg-danger w-100">logout</button></a>
        </div>

</section>



{% endblock %}