{% extends 'main.html' %}
{% block content %}

<h1 class="text-center mt-5 ">ADMIN PANEL</h1>


<section class="container-fluid px-md-5 mt-3 ">
    <div class="row">
        <form class="row g-3 col-4" action="/adminpanel" method="post">
            {% csrf_token %}
            <div class="w-100 d-flex justify-content-center">
                <div class="col-6">
                    <input type="text" class="form-control" name="search" value="{{val}}">
                </div>

                <div class="col-1 ms-2">
                    <button type="submit" class="btn btn-primary mb-3">Search</button>
                </div>
            </div>
        </form>
        <div class="col-6 d-flex justify-content-end align-items-center mt-4">
            <form class="row g-3 " action="/adminpanel/createuser">
                {% csrf_token %}
                <div class="w-100 d-flex justify-content-end">
                    <div class="col-12 ms-2">
                        <button type="submit" class="btn btn-primary mb-3">Create user</button>
                    </div>
                </div>
            </form>

            <form class="row g-3 " action="/adminpanel/logout" method="post">
                {% csrf_token %}
                <div class="w-100 d-flex justify-content-end">
                    <div class="col-1 ms-2">
                        <button type="submit" class="btn btn-primary mb-3">Logout</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <table class="table  table table-hover">
        <thead>
            <tr>
                <th scope="col">username</th>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">email</th>
                <th scope="col">update</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>

            {% for i in data %}
            <tr>
                {% if not i.is_superuser %}

                <td>{{i.username}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>

                <td>
                    <form action="/adminpanel/update">
                        <input type="text" name="which" hidden value="update">
                        <button type="submit" class="btn bg-primary text-light" value="{{i.id}}"
                            name="id">update</button>
                    </form>
                </td>
                <td>
                    <form action="/adminpanel/delete">
                        <input type="text" name="which" hidden value="delete">
                        <button type="submit" class="btn bg-danger text-light" value="{{i.id}}"
                            name="id">delete</button>
                    </form>
                </td>

            </tr>

            {% endif %}


            {% endfor %}

        </tbody>
    </table>

</section>

{% endblock %}