{% extends 'main.html' %}
{% block content %}
{% load crispy_forms_tags %}


<section class="container">
    

    <h1 class="text-center text-primary">sign up</h1>

    <form method="POST" action="{{url}}" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-outline-info w-100 mt-1" type="submit">Register</button>
        </div>

    </form>

    <a href="/" class="text-light" style="text-decoration: none;"><button
            class="btn btn-outline-info w-100 mt-1  ">login</button></a>

</section>


{% endblock %}